/*Style of Work Sans font*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,800&family=Work+Sans:wght@400;500;600;700;800&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}


/*Styles for the navigation section in header*/
header {
    width: 100%;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    padding-top: 20px;
}

.navigation {
    display: flex;
    justify-content: space-around;
    margin: auto;
    align-items: center;
}

.navigation-left {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px solid red;
    width: 225px;
    height: 35px;
}

.nav-left-text {
    color: #FF42A5;
}

.navigation-right {
    display: flex;
    justify-content: space-around;

    width: 375px;
    align-items: center;
}

.navigation-button {
    color: #3C354F;
    font-size: 1em;
    font-weight: 500;
    height: 35px;
}

.fa-youtube {
    color: #FF0000;
}

.fa-music {
    color: #08FFF9;
}

/*style for the banner section inside the main*/

.banner {
    display: flex;
    justify-content: space-around;
    margin: 0px auto 0px auto;
    align-items: center;
    border: 2px solid red;

}

.banner-left-text-para {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3em;
    font-weight: 800;
}

#banner-right-image {
    height: 500px;
}

.banner-left-text-heading {
    color: #0B0223;
    font-size: 2.5em;
    font-weight: 600;
}

.banner-left-button {
    display: flex;
    gap: 20px;
}

.button {
    font-size: 1em;
    color: #FFF;
    font-weight: 600;
    border-radius: 40px;
    padding: 10px 20px;
    border: none;
}

.button-one {

    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    width: 110px;
    height: 50px;
}

.button-two {
    background: #4EC5F7;
    width: 128px;
    height: 50px;
}

/*style for the gamer section*/
.gamer {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid green;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    gap: 50px;

}

#gamer-section-image {
    height: 400px;
}

.gamer-section-text {
    width: 430px;
    text-align: right;
    border: 2px solid green;

}

.gamer-section-heading {
    text-align: right;
    font-size: 2.2em;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gamer-section-para {
    color: #534C64;
    text-align: right;
    font-size: 1em;
    font-weight: 400;
    width: 430px;
    height: 100px;
    border: 2px solid green;

}

.gamer-section-p1 {
    color: #534C64;
    text-align: right;
    font-size: 1.5em;
    font-weight: 500;

}

.gamer-section-p2 {
    color: #534C64;
    font-size: 1.6em;
    font-weight: 700;
}

.button {
    padding: 10px 10px;
}

.gamer-button {
    width: 140px;
}









/*style for the mobile device with a maximum width of 425px*/

@media screen and (max-width:425px) {
    header {
        width: 100%;
    }

    .navigation {
        flex-direction: column;
        padding-top: 20px;

    }

    .navigation-right {
        flex-direction: column;
    }

    /*style for the banner section*/
    .banner {
        flex-direction: column-reverse;
    }

    #banner-right-image {
        height: 300px;
    }


    .banner-left {
        margin-top: 20px;
        padding: 10px;
        background-image: url("./images/Group\ 14.png")
    }

    .banner-left-text-heading {
        font-size: 1.8em;

    }

    .banner-left-button {
        gap: 10px;
    }


    .button-one {
        width: 110px;
        height: 40px;
    }

    .button-two {
        width: 128px;
        height: 40px;
    }

    .banner-left-text-para {
        font-size: 2.8em;
        font-weight: 700;
    }
}

/*style for the gamer section*/
.gamer {
    display: flex;
    flex-direction: column;
    gap:8px;
    background-color:none;
}

#gamer-section-image {
    height: 200px;
}

.gamer-section-text,
.gamer-section-p1,
.gamer-section-p2,
.gamer-section-para,
.gamer-section-heading {
text-align: center;
}


.gamer-section-text {
    width:355px;
  
.gamer-section-para {
      
        font-size:0.9em;
        font-weight: 400;
        width: 352px;
}












/*style for the mobile device with a maximum width of 425px*/
/*style for the banner section*/
@media screen and (min-width:426px) and (max-width:768px){
    .banner {
        padding-bottom: 5px;
    }

    #banner-right-image {
        height: 300px;
    }

    .banner-left-text-heading {
        font-size: 1.8em;

    }

    .banner-left-button {
        gap: 15px;
    }


    .button-one {
        width: 110px;
        height: 40px;
    }

    .button-two {
        width: 128px;
        height: 40px;
    }

    .banner-left-text-para {
        font-size: 2.8em;
        font-weight: 700;
    }

    /*style for the gamer section*/

    .gamer {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    #gamer-section-image {
        height: 300px;
    }


.gamer-section-text,
.gamer-section-p1,
.gamer-section-p2,
.gamer-section-heading {
    text-align: center;
}
}